.Rproj.user
.Rhistory
.RData
.Ruserdata
.qmd
.Rprofile
tables_and_figures.qmd
tables_and_figures.tex
/**/tables_and_figures_files


tables_and_figures.tex
tables_and_figures.tex
/.Rproj.user
/.Rproj.user
*.pper
/.Rproj.user
data/raw/220613_srag_base_oficial_2020.csv
data/raw/230831_srag_base_oficial_2021.csv
data/intermediary/sivep_2020.rds
data/intermediary/sivep_2021.rds
data/intermediary/sivep_full.rds
data/intermediary/sivep_full.parquet
