.Rproj.user
.Rhistory
.RData
.Ruserdata
.qmd
.Rprofile
tables_and_figures.qmd
tables_and_figures.tex
/**/tables_and_figures_files


tables_and_figures.tex
tables_and_figures.tex
/.Rproj.user
/.Rproj.user
*.pper
/.Rproj.user
